<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Document</title> 
</head> 
<body> 
    
    <div class="d1">
        <div class="d2">
        </div>
        <div class="d3">
            <button type="button" class="l">Логин</button>
            <button type="button" class="R" onclick="test()">Регистрация</button>
        </div>
    </div>
    <div class="d4">
        <input class="log" type="sumbit">
    </div>
    <script src="/static/js/test.js"></script>
</body> 
</html>