<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Профиль</title> 
</head> 
<body> 
    <h1>Привет {{username}}</h1> 
    <form method="post" action="http://localhost:8081/upload" enctype="multipart/form-data">
        <p>
            <input type="file" name="file">
        </p>
        <p>
            <button type="submit">Загрузить</button>
        </p>
    </form>
</body> 
</html>